
<div class="container">
	<div class="jumbotron" style="height: 1000px">
		<h1>Welcome</h1>
		<h2>Search films by Film title</h2>

		<div class="row">
			<div class="col-xs-12">
				<div class="input-group input-group-lg">
					<input #title type="text" class="form-control" />
					<div class="input-group-btn">
						<a class="btn btn-primary btn-block" role="button" (click)="getFilm(title.value); title.value=''">Buscar</a>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="col-md-6">
			<div class="list-group">
				<p class="list-group-item" *ngIf='film'>Film title: {{film.Title}}</p>
				<p class="list-group-item" *ngIf='film'>Year: {{film.Year}}</p>
				<p class="list-group-item" *ngIf='film'>Plot: {{film.Plot}}</p>
				<p class="list-group-item" *ngIf='film'>Director:  {{film.Director}}</p>
				<p class="list-group-item" *ngIf='film'>Actors: {{film.Actors}}</p>
				<p class="list-group-item" *ngIf='film'>IMDb Rating: {{film.imdbRating}}</p>
			</div>
		</div>
		<div class="col-md-6">
			<p style="text-align: center;" *ngIf='film'><img [src]="film.Poster" style="width: 100%;"></p>
		</div>
	</div>
</div>