<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
	<h1>Bulletin board</h1>

	<p th:each="anuncio : ${anuncios}">
	    <a th:href="@{/show(ID=${anuncio.id})}"><span th:text="${anuncio.Nombre} + ' ' + ${anuncio.Asunto}"> </span></a>
	</p>


    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/new}">New Announcement</a>
    </div>
    
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="logout" />
    </form>
    
    <form th:action="@{/search}" method="post">
        <input type="submit" value="search" />
    </form>
</body>
</html>