<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User changed!</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="column">
			<div class="col-xs-12">
				<p class="text-right">
					<a href="/home">Home</a>
				</p>
			</div>
		</div>
		<div th:if="${verification}" class="panel panel-primary">
			<div class="panel-body">You have modified:</div>
			<div class="panel-footer">
				<span th:text="${verification}"></span>
			</div>
		</div>
	</div>
</body>
</html>